* text=auto

*.xltm binary
*.xls binary
*.exe binary
*.nk2 binary
*.fdm binary
*.ico binary
*.jpg binary
*.png binary
*.msi binary

Dockerfile eol=lf
*.gitattributes eol=lf
*.gitignore eol=lf
*.gitmodules eol=lf
*.example eol=lf
*.txt eol=lf
*.sh eol=lf
*.tab eol=lf
*.py eol=lf
*.json eol=lf
*.js eol=lf
*.jsx eol=lf
*.md eol=lf
*.sql eol=lf
*.conf eol=lf
*.yml eol=lf
*.xml eol= lf
*.ps1 eol=crlf
*.psm1 eol=crlf
*.ahk eol=crlf
*.frm eol=crlf

*.7z binary
*.bz binary
*.bz2 binary
*.bzip2 binary
*.gz binary
*.lz binary
*.lzma binary
*.rar binary
*.tar binary
*.taz binary
*.tbz binary
*.tbz2 binary
*.tgz binary
*.tlz binary
*.txz binary
*.xz binary
*.Z binary
*.zip binary
*.zst binary